.logo img {
    width: 50px;
    height: 50px;
  }
  
.buttons {
    display: flex;
    justify-content: center;
  }
  
.buttons a {
    margin: 0 40px;
    text-decoration: none;
    color: #333;
  }
  
.faq img {
    width: 50px;
    height: 50px;
  }
  
.faq a {
    text-decoration: none;
    color: #333;
  }
  /* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: rgb(56, 137, 148);
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  /* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
.sidenav a:hover {
    color: #111;
  }
  
.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
.sidenav.active {
    left: 0;
  }
  
/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  /* Icône burger */
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color:  rgb(56, 137, 148);;
    margin: 6px 0;
  }
.navbar {
    display: none; /* Masquer la barre de navigation par défaut */
  }

@media (min-width: 768px){
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
    }

  .sidenav{
    display: none;
    }
  .burger-icon span{
    display: none;
    }
  }

body{
  background-image: url(images/BeCode.png);
  background-size: contain;
  background-repeat: no-repeat;
  }
main{
  display: flex;
  justify-content: center;
  margin: 50px;
  }
.container {
  background-color: azure;
  opacity: 90%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 500px 500px;
  gap:30px;
  align-items: center;
  justify-items: center;
  }

.article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
}

.text{
  font-family: 'poppins';
  font-style: italic;
  font-size: 12px;
  margin: 10px;
}
.text ul{
  padding-left: 0px;
  list-style: none ;
}

.titre{
  font-family: 'poppins';
  font-size: 20px;
}

i{
    margin: 20px;
}

.learn-more{
  border-radius: 5px;
  border: none;
  background-color: none;
  font-family: 'poppins';
  font-size: 18px;
  text-decoration: none;
}

.learn-more:hover{
  background-color: blue;
  color: white;
}

/* Media query pour les écrans de tablette */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 300px 300px;
    grid-template-rows: 500px 500px 500px 500px;
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 300px;
    grid-template-rows: 500px 500px 500px 500px 500px 500px 500px 500px;
  }
}
  
  